<div class="panel panel-default">
	<div class="panel-heading">Add Student</div>
	<div class="panel-body">
		<form class="form-horizontal" name="addForm">
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name: </label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="name"
						placeholder="Enter Student Name" data-ng-model="add.student.name" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="age">Age: </label>
				<div class="col-sm-4">
					<input type="number" class="form-control" name="age"
						placeholder="Enter Age" data-ng-model="add.student.age" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="gender">Gender: </label>
				<div class="col-sm-4">
					<label for="gender">Male</label> <input type="radio" value="Male"
						name="gender" data-ng-model="add.student.gender" /> <label
						for="gender">Female</label> <input type="radio" value="Female"
						name="gender" data-ng-model="add.student.gender" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="course">Course: </label>
				<div class="col-sm-4">
					<select class="form-control" name="course"
						data-ng-model="add.student.course"
						data-ng-options="item as item.description for item in courses track by item.id">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="subjects">Subjects:
				</label>
				<div class="col-sm-4">
					<select class="form-control" name="subjects" multiple="multiple"
						data-ng-model="add.student.subjects"
						data-ng-options="item as item.description for item in subjects track by item.id">
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 text-right">
					<button type="button" class="btn sc-btn"
						data-ng-click="addStudent()">Add</button>
				</div>
				<div class="col-sm-3 text-left">
					<button type="button" class="btn sc-btn">Reset</button>
				</div>
			</div>
			<br />
			<div class="alert" data-ng-show="add.showMessage"
				data-ng-class="{'alert-success':add.successFlag, 'alert-danger':!add.successFlag}">
				<ul>
					<li data-ng-repeat="msg in add.message">{{msg.message}}</li>
				</ul>
			</div>
		</form>
	</div>
</div>